body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Archivo Black', sans-serif;
}

.description {
    font-size: 26px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Audiowide', cursive;
    color: #9c9fa3;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 20px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.result-label {
    margin-top: 0.5em;
    padding: 20px;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #e8bc10;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #e8bc10;
  cursor:pointer;
}

button.analyze-button {
    width: 320px;
    height: 60px;
    border: solid 1px #e8bc10;
    border-radius: 2px;
    background-color: #e8bc10;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    cursor:pointer;
}

button:focus {outline:0;}